[Unit]
Description=Boat Rudder HTTP Server
After=network.target

[Service]
ExecStartPre=/usr/bin/sudo /usr/sbin/iptables -A INPUT -p tcp --dport 80 -j ACCEPT
ExecStart=/usr/local/bin/the-retro-center/boat-rudder /usr/local/bin/the-retro-center/html
ExecStopPost=/usr/bin/sudo /usr/sbin/iptables -D INPUT -p tcp --dport 80 -j ACCEPT
WorkingDirectory=/usr/local/bin/the-retro-center
Restart=always
User=root
Group=root
StandardOutput=append:/var/log/boat-rudder.log
StandardError=append:/var/log/boat-rudder.log

[Install]
WantedBy=multi-user.target

